body {
  min-height: 75rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

li .fab {
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}

.banner-icon-link {
  display: inline;
  font-size: 35px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.banner-icon-link:hover {
  color: grey;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

.imgbox {
  display: grid;
  height: 50%;
  position: relative;
  text-align: center;
}

.cover-image {
  max-width: 100%;
  max-height: 100%;
  width: 100% !important;
  height: 50vh;
  margin: auto;
  object-fit: cover;
  min-height: 360px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navy-blue {
  background-color: rgb(11, 40, 66) !important;
}
